{% extends "home.html" %}
{% block content %}
<style>
    .but{
        
        margin-top: 50px;
        align-items: center;
        margin-left: auto;
        left: 50%;
        position: absolute;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: block;
        padding: 0px;
        width: 150px;
        height: 50px;
        border: 2px #873007 solid;
        border-radius: 20px;
        color: #fff;
        background: #131d4a;
    }

    .but:hover {
        background: rgb(19, 128, 62);
        box-shadow: 0 3px 0 0 rgb(168, 174, 84);
        color: white;
    }

    .but:focus {
        background: #2cd743;

    }
    
</style>

<div class="owl-carousel owl-theme mt-5">
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="static/first.png"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
                Select Food based on Your restrictions 
            </div>
        </div>
    </div>
    <div class="card">
        <div class="img-card">
            <img src="static/second.png"
                alt="">
        </div>
        <div class="testimonial mt-4 mb-2">
            Your One solution to select Nepali Meals.
        </div>
    </div>
    <div class="card">
        <div class="img-card">
            <img src="static/third.png"
                alt="">
        </div>
        <div class="testimonial mt-4 mb-2">
            Your One solution to select Nepali Meals
        </div>
    </div>
    <div class="card">
        <div class="img-card">
            <img src="static/fourth.png"
                alt="">
        </div>
        <div class="testimonial mt-4 mb-2">
            Healthy eating made easy with our personalized meal recommendations.
        </div>
    </div>
</div>
<a href = "upload"><button type="button" class = "but">Get Started</button></a>
<script>
    $(document).ready(function () {
    var silder = $(".owl-carousel");
    silder.owlCarousel({
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: false,
        items: 1,
        stagePadding: 20,
        center: true,
        nav: false,
        margin: 50,
        dots: true,
        loop: true,
        responsive: {
            0: { items: 1 },
            480: { items: 2 },
            575: { items: 2 },
            768: { items: 2 },
            991: { items: 3 },
            1200: { items: 4 }
        }
    });
});
</script>
{% endblock content%}