{% load static %}
<style>
    .entire {
        width: 100%;
        height: 100%;
        display: block;
        padding: 20px;
        background-color: rgb(173, 190, 189);

    }

    .image {
        /* background-color: yellow; */
        width: 40%;
        padding: 40PX;
    }

    .image_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
        height: 300px;
        justify-content: center;
        margin: auto;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .qrcode {
        background-color: rgb(234, 224, 224);
        width: 40%;
        padding: 40px;
    }

    .data {
        margin-top: 50px;
        font-size: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        font-style: oblique;
        display: block;
        padding: 10px;
        width: 60%;
        color: rgb(113, 50, 50);

    }
    .ingredients{
        font-size: 20px;
        margin-top: 20px;
        text-overflow: clip;
    }
    .category{
        font-size: 20px;
    }
</style>
<div class="entire">
    {% for i in item %}

    <div class='image_container'>
        <div class="image">
            <img src="{{ i.image.url }}" alt="">
        </div>

        <!-- <div class="qrcode">
            <img src="{% static path %}" alt="">
        </div> -->
    </div>

    <div class="data">
        <h2 style = "text-decoration: underline;">Ingredients</h2>
        <div class="ingredients">{{i.ingredients}}
        </div>
        {% if m.is_snack %}
        <div class="category">
            It is a snack
        </div>
        {% endif %}
        {% if m.is_lunch %}
        <div class="category">
            It is a lunch
        </div>
        {% endif %}
        {% if m.is_dinner %}
        <div class="category">
            It is a dinner
        </div>
        {% endif %}
        {% if m.is_breakfast %}
        <div class="category">
            It is a breakfast
        </div>
        {% endif %}
        {% if m.is_confection %}
        <div class="category">
            It is a confection
        </div>
        {% endif %}

<h2 style = "text-decoration: underline;">Recipe</h2>
       <div class = "ingredients"> {{i.recipe}}</div>
        {% endfor %}
    </div>
</div>
